/*Large Layout*/
/*Background Color: #000e3e*/
/*Secondary Color: #8960FF*/
body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

.row {
  padding: 20px;
  margin: 10px;
}

/*Text*/
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}

h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #fff;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
}

p {
  color: black;
  font-size: 12px;
}

/*Homepage*/
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000e3e;
}
.children {
  height: 30px;
  width: calc(50% - 10px);
  margin: 100px;
}

/*About Me*/
#hero {
  background-color: gray;
  display: flex;
  height: 100vh;
}
#hero > div {
  height: 100vh;
}
#hero-content {
  position: relative;
  width: 30%;
  background-color: #000e3e;
}
#hero-content > div {
  position: relative;
  padding: 15px;
  top: 200px;
  left: 25%;
  background-color: palevioletred;
}
#hero-graphic {
  width: 70%;
  background: url(images/flower-5.JPG) no-repeat;
  background-size: cover;
}

/*Circle*/
.one_icon {
  background: #8960ff;
  width: 1000px;
  height: 1000px;
  padding: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 2em;
  position: fixed;
  left: 900px;
  top: -200px;
}

/*Image Gallery*/
.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
    "img-1 img-2 img-3 img-3"
    "img-1 img-4 img-5 img-6"
    "img-7 img-7 img-8 img-6";
}

.image-gallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a i {
  width: 100%;
  /*color: rgba(0, 0, 0, 0.6);*/
  font-size: 3rem;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 1;
  padding: 1rem 3rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.4rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.image-gallery a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before {
  opacity: 1;
}

.gallery-container {
  width: 95%;
  max-width: 120rem;
  margin: 50px;
  padding: 1.5rem;
  color: #333;
  background-color: #000e3e;
}

.img-1 {
  grid-area: img-1;
  background-image: url(images/img-1.jpg);
  min-height: 51.5rem;
}
.img-2 {
  grid-area: img-2;
  background-image: url(images/img-2.jpg);
}
.img-3 {
  grid-area: img-3;
  background-image: url(images/img-3.jpg);
}
.img-4 {
  grid-area: img-4;
  background-image: url(images/img-4.JPG);
}
.img-5 {
  grid-area: img-5;
  background-image: url(images/img-5.jpg);
}
.img-6 {
  grid-area: img-6;
  min-height: 51.5rem;
  background-image: url(images/img-6.jpg);
}
.img-7 {
  grid-area: img-7;
  background-image: url(images/img-7.jpg);
}
.img-8 {
  grid-area: img-8;
  background-image: url(images/img-8.jpg);
}

@media screen and (max-width: 900px) {
  .image-gallery {
    grid-template-areas:
      "img-1 img-1 img-2 img-2"
      "img-1 img-1 img-3 img-2"
      "img-4 img-4 img-5 img-5"
      "img-6 img-7 img-7 img-7"
      "img-8 img-8 img-8 img-8";
  }
  .image-gallery a {
    height: 20rem;
  }
  .img-1 {
    min-height: 41.5rem;
  }
  .img-6 {
    min-height: 20rem;
  }
}

@media screen and (max-width: 600px) {
  .image-gallery {
    grid-template-areas:
      "img-1 img-1 img-1 img-1"
      "img-2 img-2 img-2 img-2"
      "img-3 img-3 img-3 img-3"
      "img-4 img-4 img-4 img-4"
      "img-5 img-5 img-5 img-5"
      "img-6 img-6 img-6 img-6"
      "img-7 img-7 img-7 img-7"
      "img-8 img-8 img-8 img-8";
  }
  .image-gallery a,
  .img-1,
  .img-6 {
    height: 30rem;
    min-height: 30rem;
  }
}

/*Contact Us*/
.contact-container {
  flex: 0 1 700px;
  margin: 50px;
  padding: 10px;
}

.screen {
  position: relative;
  background: #000e3e;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #8960ff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #7245fb;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

/*Hamburger Menu*/
.hamburger-menu {
  z-index: 1;
  position: fixed;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn,
.menu__black {
  position: fixed;
  top: 30px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: 0.25s;
}
.menu__black > span,
.menu__black > span::before,
.menu__black > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000e3e;
  transition-duration: 0.25s;
}
.menu__btn > span::before,
.menu__black > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after,
.menu__black > span::after {
  content: "";
  top: 8px;
  color: #6935ff;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

/*About Me*/
.box-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  list-style-type: none;
}
.boxa {
  background: transparent;
  flex: 0 0 100%;
  width: 25%;
  padding: 20px;
}
.boxb {
  background: transparent;
  order: 2;
}
.boxc {
  background: transparent;
}
.boxd {
  background: transparent;
}
.boxb,
.boxc,
.boxd {
  flex: 0 0 33%;
  width: 50%;
}

.box-wrapper2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  list-style-type: none;
  margin: 50px;
}

.boxe {
  background: transparent;
  width: 40%;
}
.boxf {
  background: transparent;
  width: 60%;
}

footer {
  background-color: #000e3e;
  color: #fff;
  font-size: 14px;
  width: 100%;
  height: 35px;
  text-align: center;
  align-items: center;
}
